@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

header {
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.space-image {
  width: 250px;
  position: absolute;
  top: -50px;
  opacity: 0.7;
  z-index: -1;
  animation: moveLeftRight 20s infinite;
}

@keyframes moveLeftRight {
  0% {
    transform: rotate(25deg);
    top: -50px;
    left: -25px;
  }

  50% {
    transform: rotate(-20deg);
    top: -70px;
    left: -60px;
  }

  100% {
    transform: rotate(25deg);
    top: -50px;
    left: -25px;
  }
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials,
  .scroll__down {
    display: none;
  }


.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.user-name {
  font-family: 'Tilt Prism', cursive;
}

.me {
  background: linear-gradient(#05595b, transparent);
  max-width: 100%;
  height: auto;
  position: relative;
  margin-top: 4rem;
  border-radius: 0.4rem 0.4rem 0 0;
  overflow: hidden;
  padding: 2.5rem 1.5rem 1.5rem;
}

.me-img {
  border-radius: 0.4rem 0.4rem 0 0;
    width: 100%;
    height: auto;
  }


.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  .header {
    height: 90vh;
  }

 

  .me{
    max-width:70%;
    margin: auto;
    margin-top:4rem;
  }

  .header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
  }
  
  .scroll__down {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 68vh;
  }

  .me{
    max-width:60%;
  }
  
}
