#portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purple-space-image {
  background-image: url('../../assets/purplesspaceship.png');
  background-repeat: no-repeat;
  background-size: 450px auto;
  position: absolute;
  width: 550px;
  height: 550px;
  opacity: 0.5;
  z-index: -1;
}

.portfolio__container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  background-image: linear-gradient(to left, var(--color-bg-variant), #0279a9b4);
  padding: 1.3rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio_item h3 {
  margin: 1.2rem 0 3rem;
}

.portfolio_item-cta {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
